/* styles.css */

/* Styles de base pour le corps et les instructions */
body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #000;
  }
  
  #instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    text-align: center;
    color: #ffffff;
    font-family: Arial, sans-serif;
    user-select: none;
    cursor: pointer;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
  